body {
	font-family: 'Proza Libre', sans-serif !important;
}

ul {
	list-style-image: url('arrow.png');
}

.gray-text {
	color: #4d4d4d;
}

.light-gray-text {
	color: #808080;
}

.custom-jumbotron {
	background-color: #222 !important;
	border-radius: 0px 0px 0px 0px !important;
}

.white-text {
	color: white !important;
}

.text-shadow {
	text-shadow: -5px 5px 10px #000000
}

.small-font {
	font-size: 15px !important;
}

.nav-text {
	color: #f4a442 !important;
	padding: 15px 25px 15px 25px;
	border-radius: 15px;
}

a.nav-text:link {
	text-decoration: none !important;
}
a.nav-text:active {
	text-decoration: none !important;
}
a.nav-text:hover {
	background-color: #1a1a1a;
	text-decoration: none !important;
}
a.nav-text:visited {
	text-decoration: none !important;
}