---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h2 class="post-title" align="center">{{ page.title }}</h2>
            <h6 class="post-title" align="center" style="color:dodgerblue">{{ page.authors }}</h6>
            <h6 class="post-title" align="center">{{ page.affiliation }}</h6>
            <br>
            <p class="post-description" align="center"><b>{{ page.conference }}</b></p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
